node_modules/
tmp/*
tmp/uploads/*
!tmp/uploads

!tmp/uploads/.gitkeep
.env
ormconfig.json


tmp/uploads/generic/*
tmp/uploads/products/*
tmp/uploads/users/*

!tmp/uploads/generic
!tmp/uploads/products
!tmp/uploads/users
!tmp/uploads/generic/logo.svg
!tmp/uploads/users/default.png
